# Gradle
.gradle/
build/
/bin/
/build/
/out/
*.class

# IntelliJ IDEA / JetBrains IDEs
.idea/
*.iml

# VS Code
.vscode/

# Log / temporary files
*.log
*.tmp
*.bin
*.lock

# OS files
.DS_Store
Thumbs.db

.env
*.env
