<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Console Appender -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Jakarta</timeZone>
                </timestamp>
                <mdc />
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger{36}",
                        "message": "%message",
                        "thread": "%thread",
<!--                        "context": "%mdc",-->
                        "stack_trace": "%ex{full}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- File Appender (JSON juga) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Jakarta</timeZone>
                </timestamp>
                <mdc />
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "logger": "%logger{36}",
                        "message": "%message",
                        "thread": "%thread",
<!--                        "context": "%mdc",-->
                        "stack_trace": "%ex{full}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- Root log level -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- Additional loggers -->
    <logger name="com.example.wandoor" level="DEBUG" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="ERROR" />

</configuration>
